#radio{
    display:block;
    text-align:center;
    margin-top:2rem;
    color:rgb(90, 9, 110);
    cursor: pointer;
    
}
#table{
    display:flex;
    justify-content: center;
    cursor: pointer;
}
table{
    color: yellow;
    background-color: rgb(32, 31, 31);
}
th{
    padding:2px 2px 4px 4px;
    color:rgb(38, 0, 255);
}